<h1>AirCrack GUIfi</h1>
<br>
<h2>Attacking Network</h2>

<strong>Date and Time: </strong><span><%= @Date %></span><br>
<strong>Hostname: </strong><span><%= @Hostname %></span><br>



<%= link_to "Home", networks_path %>
<%= link_to "Test", test_path %>
